<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbms.article.mapper.ArticleMapper">
    <resultMap id="ArticleResultMap" type="ArticleTbl">
        <id column="id" property="id"/>
        <result column="title" property="title"/>
        <result column="author" property="actor"/>
        <result column="cuont" property="cuont"/>
        <result column="img" property="img"/>
        <result column="parent_id" property="category"/>
        <result column="update_time" property="updated"/>
        <result column="new_time" property="createdAt"/>
        <result column="content" property="context"/>
        <association property="categoryTbl" javaType="CategoryTbl">
            <result column="name" property="name"/>
            <result column="c_id" property="parent"/>
            <result column="crateTime" property="crateTime"/>
            <result column="updateTime" property="updateTime"/>
        </association>
    </resultMap>

    <!--查询所有的文章信息和父功能-->
    <select id="seclectArticleByAll" resultMap="ArticleResultMap">
        SELECT a.id,a.title,a.author,a.cuont,a.img,a.parent_id,a.update_time,a.new_time,a.content,
        t.name
        FROM article_TBL a,tree_TBL t
        WHERE a.parent_id=t.id
    </select>

    <!--根据id删除文章-->
    <delete id="delecteArticleById" parameterType="int">
        delete from article_tbl where id =#{value}
    </delete>

    <!--根据id查询文章信息和父功能-->
    <select id="seclectArticleById" resultMap="ArticleResultMap" parameterType="string">
        SELECT a.id,a.title,a.author,a.cuont,a.img,a.parent_id,a.update_time,a.new_time,a.content,
        t.name
        FROM article_TBL a,tree_TBL t
        WHERE a.parent_id=t.id AND a.id = #{id}
    </select>

    <!--根据title查询文章-->
    <select id="seclectArticleByTitle" resultMap="ArticleResultMap" parameterType="string">
        SELECT id,title,author,cuont,img,parent_id,update_time,new_time,content
        FROM article_TBL
        WHERE title=#{value}
    </select>

    <!--插入文章-->
    <insert id="insertArticle" parameterType="ArticleTbl">
        insert into ARTICLE_TBL (id,
            title,
            author,
            cuont,
            img,
            parent_id,
            update_time,
            new_time,
            content
        ) value (
            #{id},
            #{title},
            #{actor},
            #{cuont},
            #{img},
            #{category},
            #{updated},
            #{createdAt},
            #{context})
    </insert>

</mapper>
