<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dbms.article.mapper.AdvertiMapper">
    <resultMap id="AdResultMap1" type="AdTbl">
        <id column="ab_id" property="id"/>
        <result column="ab_name" property="name"/>
        <result column="ab_description" property="description"/>
        <result column="ab_crateTime" property="crateTime"/>
        <result column="ab_updateTime" property="updateTime"/>
        <collection property="links" ofType="LinkTbl"
                    column="ab_id" select="findLinkById">
        </collection>
    </resultMap>
    <resultMap id="AdResultMap2" type="AdTbl">
        <id column="ab_id" property="id"/>
        <result column="ab_name" property="name"/>
        <result column="ab_description" property="description"/>
        <result column="ab_crateTime" property="crateTime"/>
        <result column="ab_updateTime" property="updateTime"/>
    </resultMap>
    <resultMap id="LinkResultMap" type="LinkTbl">
        <result column="li_parentID" property="parent"/>
        <result column="li_img" property="img"/>
        <result column="li_url" property="url"/>
    </resultMap>

    <!--插入广告位-->
    <insert id="insertOnechLink" parameterType="linkTbl">
        INSERT
        INTO ab_link_tbl (li_parentID,li_img,li_url) VALUE (#{parent},#{img},#{url})
    </insert>

    <!--插入广告标题-->
    <insert id="insetAd" parameterType="adTbl">
        INSERT
        INTO ab_tbl (ab_id,ab_name,ab_description,ab_crateTime,ab_updateTime) VALUE (#{id},#{name},#{description},#{crateTime},#{updateTime})
    </insert>

    <!--根据name查询广告-->
    <select id="findAdvertiByname" parameterType="string" resultMap="AdResultMap2">
        SELECT ab_id,ab_name,ab_description,ab_crateTime,ab_updateTime
        FROM ab_tbl
        WHERE ab_name=#{name}
    </select>

    <!--根据id查询广告位-->
    <select id="findLinkById" parameterType="string" resultMap="LinkResultMap">
        SELECT li_parentID,li_img,li_url
        FROM ab_link_tbl
        WHERE li_parentID=#{ab_id}
    </select>

    <!--查询所有广告-->
    <select id="findAdvertiByAll" resultMap="AdResultMap1">
        SELECT  ab_id,ab_name,ab_description,ab_crateTime,ab_updateTime
        FROM ab_tbl
    </select>

    <!--根据id查询广告-->
    <select id="findAdvertiById" resultMap="AdResultMap1" parameterType="string">
        SELECT  ab_id,ab_name,ab_description,ab_crateTime,ab_updateTime
        FROM ab_tbl
        WHERE ab_id=#{value}
    </select>

    <delete id="deleteAdTbl" parameterType="String">
        DELETE FROM ab_tbl WHERE id=#{id}
    </delete>

    <delete id="deleteLinkTbl" parameterType="String">
        DELETE FROM ab_link_tbl WHERE id=#{id}
    </delete>

    <!--更新广告-->
    <update id="updateAdverti" parameterType="AdTbl">
        UPDATE ab_tbl SET ab_name=#{name},ab_description=#{description},ab_updateTime=#{updateTime} WHERE ab_id=#{id}
    </update>

</mapper>
